<table ng-table-dynamic="model[options.key] with to.cols" class="table table-condensed table-bordered table-striped" disable-filter="false" show-filter="true">
    <tbody>
        <tr ng-repeat="row in $data">
            <td ng-repeat="col in $columns" bind-compiled-html="col.getValue(this, row)">{{row[col.field]}}</td>
            <td ng-if="true">
                <!--<edit-button></edit-button>-->
                <div align="center"><button type="button" class="btn btn-default" ng-click="openUibModal(row,$columns, $event)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button type="button" class="btn btn-default" ng-click="openUibModal(row,$columns, $event)"><span class="glyphicon glyphicon-trash"></span> Delete</button></div>
            </td>
        </tr>
    </tbody>
</table>